<div class="ma"></div>
<div class="wrapper">
    <div class="card">
        <img src="assets\1234.png" alt="">
        <div class="info">
            <p>hacker society</p><p>to know more press</p><a href="page3">read more</a>
        </div>
    </div>  
    <div class="card">
        <img src="/assets/12.jpg" alt="">
        <div class="info">
            <p>music society</p>
            <p>to know more press</p><a href="one">read more</a>
        </div>
    </div> 
    <div class="card">
        <img src="assets/13.png" alt="">
        <div class="info">
<p>sports society</p>
<p>to know more press</p><a href="two">read more</a>
        </div>
    </div> 
    
    <div class="card">
        <img src="assets/123.jpg" alt="">
        <div class="info">
<p>computer society</p>
<p>to know more press</p><a href="three">read more</a>
        </div>
    </div>
    <div class="card">
        <img src="assets/1221.png" alt="">
        <div class="info">
<p>photography society</p><p>to know more press</p><a href="four">read more</a>
        </div>
    </div>
    <div class="card">
        <img src="assets/12311.jpg" alt="">
        <div class="info">
<p>human rights society</p><p>to know more press</p><a href="five">read more</a>
        </div>
    </div>
 
 