<div class="topnav"  id="myTopnav">
  <a  class="active" (click)="show1()" ><img src="assets\Logo.png" style="width: 100px;"></a>
  <a (click)="show2()" style="margin-left: 1340px ">society</a>
  <a data-bs-toggle="modal" data-bs-target="#exampleModal2"href=""  style="margin-left: 100px;" >signup</a>
 <a   data-bs-toggle="modal" data-bs-target="#exampleModal">signin</a>
  <a (click)="show3()" style="margin-left: 20px;">Admin</a>
  
</div>
<br>
<br> <br>
<app-page2 *ngIf="visible===1" ></app-page2>
<app-main *ngIf="visible===2" ></app-main>
<app-page1 *ngIf="visible===3" ></app-page1>
<app-six *ngIf="visible===4" ></app-six>

<router-outlet></router-outlet>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">details</h5>
        <button type="button" class="bt-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="formvalue">
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" formControlName="username" class="form-control"   placeholder="Enter Username">
              </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Password</label>
                  <input type="password" formControlName="password" class="form-control"  placeholder="Enter Password">
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="show4()" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>